<!-- wp:myblocks/myheader /-->

<!-- <section class="hero">
	<video class="hero-video" autoplay muted loop playsinline>
		<source
			src="<?php echo get_template_directory_uri(); ?>/assets/video/hero.mp4"
			type="video/mp4"
		/>

		Your browser does not support the video tag.
	</video>

	<div class="hero-overlay"></div>

	<div class="hero-content">
		<h1>Your Heading Here</h1>
		<p>Your subtitle text here</p>
		<a href="#" class="btn">Call to Action</a>
	</div>
	<?php echo get_template_directory_uri(); ?>
</section> -->

<!-- <div class="typewriter">
		<div>
			<h1>BADMINTON</h1>
		</div>
	</div> -->
<!-- <p>...sport który wciąga</p> -->

<!-- wp:myblocks/myfooter /-->
